body {
  background: snow;
  color: black;
  font-family: tahoma;
  padding: 50px;
  margin: 0px 15%;
}

header {
  font-family: 'Brush Script MT';
}

nav {
  font-family: 'Garamond';
}

footer {
  font-family: 'Impact';
}

ul.horizontal-list {
  padding: 0px;
}

ul.horizontal-list li {
  display: inline-block;
  margin-right: 10px;
}

.headshot {
  width: 50%;
}

#creative-work ul {
  padding-left: 0px;
}

#creative-work li {
  list-style: none;
}
#creative-work span.magazine {
  color: blue;
}